<body>
<div class="main">
 

<form action="/action_page.php">
  <h1>Website Feedback</h1>
<label>Is this the first time you have visited the website?</label><br>
    <input type="radio" name="time" value="Yes"> Yes<br>
    <input type="radio" name="time" value="No"> No<br><br>

  <label> What is the PRIMARY reason you came to the site?</label><br>
        <textarea rows="3" cols="20"></textarea>
                <br>
        
   <!-- <input type="submit" value="Submit"> -->

<p>Did you find what you needed?</p>
  <input type="radio" name="needs" value="yes"> Yes, all of it <br>
  <input type="radio" name="needs" value="some"> Yes, some of it <br>
  <input type="radio" name="needs" value="no"> No, none of it<br>   
 
<p>What is your overall impression of the site?</p>
  <input type="radio" name="feedback" value="yes">Very Easy  <br>
  <input type="radio" name="feedback" value="some">Easy <br>
  <input type="radio" name="feedback" value="no"> Average<br> 
  <input type="radio" name="feedback" value="some">Easy <br>
  <input type="radio" name="feedback" value="no"> Average<br> 

<p>Please tell us how easy it is to find information on the site.</p>
 <label>Professional:</label> 
  <input type="radio" name="Professional" value="yes">Below Expectations
  <input type="radio" name="Professional" value="some">Meets Expectations 
  <input type="radio" name="Professional" value="no"> Exceeds  Expectations<br> 

  <label>Informative:</label> 
    <input type="radio" name="Informative" value="yes">Below Expectations
    <input type="radio" name="Informative" value="some">Meets Expectations 
    <input type="radio" name="Informative" value="no"> Exceeds  Expectations<br>

  <label>Visually Pleasing:</label> 
    <input type="radio" name="Visually" value="yes">Below Expectations
    <input type="radio" name="Visually" value="some">Meets Expectations 
    <input type="radio" name="Visually" value="no"> Exceeds  Expectations<br> 

  <p>What is the likelihood that you will visit the website again?</p>
    <input type="radio" name="likely" value="Extremely">Extremely likely <br>
    <input type="radio" name="likely" value="Very">Very likely  <br>
    <input type="radio" name="likely" value="likely"> likely <br> 
    <input type="radio" name="likely" value="Slightly">Slightly likely  <br>
    <input type="radio" name="likely" value="Not"> Not at all likely<br> 
<label> 
  Please add any comments you have for improving the website. <br>
  We welcome suggestions on specific areas for improvements, features you would like to see added to the site,<br>
   and examples of what you consider good websites.
</label><br>
    <textarea rows="3" cols="20"></textarea>
            <br>
  <input type="submit" value="Submit">
</form>


</div>
</body>