<!-- <div class="menu">
  <a (click)="home()">Home</a>
  <a routerLink="/">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/feedback">Feedback</a>
</div> -->
<!-- Side navigation -->
<div class="sidenav">
  <a routerLink="/">Home</a>
  <a routerLink="/about">About</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/feedback">Feedback</a>
</div>

<!-- Page content -->
<!-- <div class="main">
  ...
</div>

<br> -->
<router-outlet></router-outlet> 