<!-- <form>
  Name:<input  [(ngModel)]="name" name="name"><br><br>
  Surname:<input  [(ngModel)]="surname" name="surname"><br><br>
  Age:<input  [(ngModel)]="age" name="age"><br><br>
  <button (click)="submit()">Submit</button>
  
</form>
<p>{{name}}</p>
<p>{{surname}}</p>
<p>{{age}}</p> -->

<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

  <div class="main">

      <div class="top">
        
        
      
        <div class="first">
          <h1>FIRST PERSONAL WEB APP OF NKONWANA SUCCESS</h1>
          <!-- <textarea rows="15" cols="20"></textarea> -->
          <div class="sec">

              <div class="thd">
                  <div id="circle-shape-example">
                      <img src="assets/me.jpg"  class="curve">
                        <h1>Nkonwana Success</h1>
                        <p>Welcome to my first web app...</p>
                      </div>
                </div>
          </div>
        </div>
        
      
      </div>
      
  </div>

</body>
</html>