body{
    // 
    text-align: center;
    height: auto;
        background-image: url(home.jpg);
        color: #fff;
      /* Center and scale the image nicely */
      background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
}
.main {
    height: auto;

}
.top{
    padding-left: 9%;
}
.first{
  
  padding-top: 10%;
  
}

.sec{
   background-image: linear-gradient(to right top, #070707, #111011, #242723, #303332, #565c4a);
 
  height: 210px;
 //background-image: linear-gradient(to right,#e2d8cd,#e7b1c5);
  margin-left: 30%; 
  color:#fff; 
  width: 30%;
 
}

.thd{
  
      background-image: linear-gradient(to right,#e2d8cd,#e7b1c5);
     //background-image: linear-gradient(to right top, #070707, #111011, #242723, #303332, #565c4a);
 height: 200px;
 
 color:#fff; 
 width: 100%;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}
#circle-shape-example p { 
  line-height: 1.8; 
}
#circle-shape-example .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}