<!-- <form>
  Name:<input  [(ngModel)]="name" name="name"><br><br>
  Surname:<input  [(ngModel)]="surname" name="surname"><br><br>
  Age:<input  [(ngModel)]="age" name="age"><br><br>
  <button (click)="submit()">Submit</button>
  
</form>
<p>{{name}}</p>
<p>{{surname}}</p>
<p>{{age}}</p> -->

<html>

<body>

  <div class="main">

      <div class="top">
        
        
      
        <div class="row">
            <div class="column left" >
              
              <img src="assets/me.jpg"> 
            </div>
            
          <div class="column right" >
              <h2>WELCOME TO THE SHORT BIOGRAPHY OF NKONWANA SUCCESS</h2>
              <p>My likes and Entertainments...</p>
              <div class="row2">
                  <div class="column left" >
                  
                      <!-- <img src="assets/me.jpg">  -->
                    </div>
                    <div class="column left" >
                        <p>Coding</p>
                        <img src="assets/code.png"> 
                      </div>
                      <div class="column left" >
                          <p>Shopping</p>
                          <img src="assets/shop.jpg"> 
                        </div>
                </div>
                <div class="row3">
                    <div class="column left" >
                    
                        <!-- <img src="assets/me.jpg">  -->
                      </div>
                      <div class="column left" >
                          <p>Swimming</p>
                          <img src="assets/swim.png"> 
                        </div>
                        <div class="column left" >
                            <p>Fishing</p>
                            <img src="assets/fish.png"> 
                          </div>
                          <div class="column left" >
                              <p>Cycling</p>
                              <img src="assets/cycle.png"> 
                            </div>
                            <div class="column left" >
                                <p>Shopping</p>
                                <img src="assets/me.jpg"> 
                              </div>
                  </div>
                  

          </div>
        </div> 

      </div>
  </div>

</body>
</html>